.navbutton {
	font-size: 15px;
	float: right;
	margin-right: 40px;
	margin-bottom: 10px;
	font-variant: small-caps;
	color: white;
	font-weight: bold;
}

th {
    text-align: center;
}

td {
	text-align:center;
}

button, input{
  display: block;
}

h2 {
	text-align: center;
}

input {
	margin: auto;
}

button#create-account {
	margin: auto;
}

#user-container {
	margin-bottom: 100px;
	text-align: center;
}

#newaccount-inputs{
	top: 75px;
	left: 25%;
	position: absolute;
	border: 5px solid gray;
	border-radius: 10px;
	width: 50%;

}

.container {
	margin: auto;
	padding-top: 50px; 
}

#navbar {
	opacity: .9;
	width: 100%;
	background-color: #181C22;
	position: absolute;
}

#navbar ul {
	list-style-type: none;
}

#navbar li{
	display: inline;
}

#newaccount-inputs p {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

#inputbox {
	width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

#inputbox input {
	margin-bottom: 10px;
}

