.navbutton {
	font-size: 15px;
	float: right;
	margin-right: 40px;
	margin-bottom: 10px;
	font-variant: small-caps;
	color: white;
	font-weight: bold;
}

th {
    text-align: center;
}

td {
	text-align:center;
}

button, input{
  display: block;
}

#newaccount-inputs{
	top: 75px;
	left: 100px;
	position: absolute;
}

#user-container {
	top: 75px;
	left: 100px;
	position: absolute;
}

#available-rooms {
	top: 75px;
	left: 100px;
	position: absolute;
}

#navbar {
	opacity: .9;
	width: 100%;
	background-color: #181C22;
	position: absolute;
}

#navbar ul {
	list-style-type: none;
}

#navbar li{
	display: inline;
}