.navbutton {
	font-size: 15px;
	float: right;
	margin-right: 40px;
	margin-bottom: 10px;
	font-variant: small-caps;
	color: white;
	font-weight: bold;
}

th {
    text-align: center;
}

td {
	text-align:center;
}

button, input{
  display: block;
}

h2 {
	text-align: center;
}

#user-container {
	margin-bottom: 100px;
	text-align: center;
}

#newaccount-inputs{
	top: 75px;
	left: 100px;
	position: absolute;
}

.container {
	margin: auto;
	padding-top: 50px; 
}

#navbar {
	opacity: .9;
	width: 100%;
	background-color: #181C22;
	position: absolute;
}

#navbar ul {
	list-style-type: none;
}

#navbar li{
	display: inline;
}

#newaccount-inputs {
	border: 2px solid gray;
	border-radius: 10px;
}

#UserImg {
	background-image: url("http://www.fashatude.com/static/fashatude/img/user_icon.png");
}